.circular-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: grab;
}

.circular-gallery:active {
  cursor: grabbing;
}

.circular-gallery-shell {
  height: 520px;
  width: 100%;
  position: relative;
}

@media (max-width: 991px) {
  .circular-gallery-shell {
    height: 420px;
  }
}

@media (max-width: 575px) {
  .circular-gallery-shell {
    height: 320px;
  }
}
